h1{
    position: absolute;
width: 610px;
height: 54px;
left: 268px;


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 54px;
text-align: center;

color: #FFFFFF;
background: #0C1618;
}

.pExp{
    position: absolute;
    width: 933px;
    height: 601.9px;
    left: 50px;
    top: 582.1px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    
    color: #000000;
/* background-size: cover; */
}

.subtitulo{
    position: absolute;
    width: 268.85px;
    height: 36.15px;
    left: 83.85px;
    top: 456.36px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
    background: #D1AC00;
    

}

.h2Oficio{
    position: absolute;
width: 502px;
height: 48px;
left: 350px;
top: 151px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #E01A4F;
}

.h2Tel{
    position: absolute;
width: 237px;
height: 39px;
left: 455px;
top: 213px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;

text-align: center;
text-decoration-line: underline;

color: #E01A4F;
}

.recEncabezado{
    
position: absolute;
width: 1440px;
height: 346px;
left: 0px;
top: 0px;

background: #0C1618;
}

.columna{
    position: absolute;
    width: 389px;
    height: 1470px;
    left: 1010px;
    top: 346px;
    
    background: #FAF4D3;
}

.h2sobreMi{
    position: absolute;
    width: 154px;
    height: 44.3px;
    left: 1163px;
    top: 374px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
background: #D1AC00;
}

.pSobreMi{
    position: absolute;
width: 340px;
height: 286.95px;
left: 1041px;
top: 479.91px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;

color: #000000;
}

.h2Competencias{

    position: absolute;
    width: 277px;
    height: 34.23px;
    left: 1044px;
    top: 826px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
    background: #D1AC00;
}

.pCompetencias{
    position: absolute;
width: 389px;
height: 320.18px;
left: 1010px;
top: 914.87px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;

color: #000000;

}

.h2Idiomas{
    position: absolute;
width: 277px;
height: 34.23px;
left: 1094px;
top: 1287px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
text-align: center;

color: #000000;
background: #D1AC00;
}

.pIdiomas{
    position: absolute;
width: 389px;
height: 320.18px;
left: 1010px;
top: 1397.15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;

color: #000000;

}

.h2Formacion{
    position: absolute;
width: 268.85px;
height: 36.15px;
left: 52.85px;
top: 1286.36px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
text-align: center;

color: #000000;
background: #D1AC00;
}

.pFormacion{
    position: absolute;
width: 933px;
height: 601.9px;
left: 23px;
top: 1346px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;

color: #000000;
}

.footer{
    position: absolute;
width: 1440px;
height: 184px;
left: 0px;
top: 1816px;

background: #2B303A;
}

.pTel{
    position: absolute;
width: 237px;
height: 39px;
left: 85px;
top: 1888px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;

color: #E01A4F;

}

.pCorreo{
    position: absolute;
width: 421px;
height: 39px;
left: 451px;
top: 1888px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;

color: #E01A4F;

}

.pUbicacion{
    position: absolute;
width: 141px;
height: 39px;
left: 1003px;
top: 1888px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;

color: #E01A4F;

}

.fig{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 200px;
left: 1110px;
top: 70px;

background: url(imagenes/danielFoto.jpg);
border: 1px solid #000000;
}



#identified {
    background-color: skyblue;
  }


  /* PORTAFOLIO */

  .h2Presentacion{
position: absolute;
width: 246px;
height: 44px;
left: 103px;
top: 435px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

text-align: center;

color: #000000;
background: #D1AC00;
  }

  .pPresentacion{
    position: absolute;
width: 340px;
height: 286.95px;
left: 70px;
top: 528px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;

color: #FFFFFF;

  }
  .boxConsultas{
    position: absolute;
    width: 307px;
    height: 281.52px;
    left: 161px;
    top: 976px;
    
    background: #E0DFD5;
}

.navConsultas{
    position: absolute;
    width: 145px;
    height: 113.64px;
    left: 204px;
    top: 1004px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
}

.boxDisenos{
    position: absolute;
    width: 307px;
    height: 281.52px;
    left: 571px;
    top: 976px;
    
    background: #E0DFD5;
}

.navDisenos{
    position: absolute;
    width: 117px;
    height: 113.64px;
    left: 626px;
    top: 1004px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;    
}

.boxTalleres{
    position: absolute;
    width: 307px;
    height: 281.52px;
    left: 161px;
    top: 1381.48px;
    
    background: #E0DFD5;
}

.navTalleres{
    position: absolute;
    width: 116px;
    height: 113.64px;
    left: 205px;
    top: 1417.23px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.boxRetos{
    position: absolute;
    width: 307px;
    height: 281.52px;
    left: 571px;
    top: 1381.48px;
    
    background: #E0DFD5;
}

.navRetos{
    position: absolute;
    width: 84px;
    height: 113.64px;
    left: 626px;
    top: 1417.23px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
    
}



.portColumna{
    position: absolute;
    width: 389px;
    height: 1470px;
    left: 1010px;
    top: 346px;
    
    background: #F06543;
}

.portBoxSobreMi{
    position: absolute;
    width: 296px;
    height: 75.51px;
    left: 1144px;
    top: 356.07px;

    background: #313638;
}

.portH2SobreMi{
    position: absolute;
    width: 154px;
    height: 44.3px;
    left: 1163px;
    top: 374px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;

    color: #FFFFFF;
}

.portPSobreMi{
    position: absolute;
width: 340px;
height: 286.95px;
left: 1041px;
top: 479.91px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;

color: #000000;
}

.portH2GitHub{
    position: absolute;
    width: 277px;
    height: 34.23px;
    left: 1144px;
    top: 799px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #FFFFFF;
}

.portBoxGitHub{
    position: absolute;
    width: 305px;
    height: 76px;
    left: 1135px;
    top: 787px;

    background: #313638;
}

.portPGitHub{
    position: absolute;
    width: 389px;
    height: 320.18px;
    left: 1021px;
    top: 901px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;

    color: #000000;
}

.portBoxNeocities{
    position: absolute;
    width: 307px;
    height: 76px;
    left: 1133px;
    top: 1305px;

    background: #313638;
}

.portH2Neocities{
    position: absolute;
    width: 277px;
    height: 34.23px;
    left: 1133px;
    top: 1326px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;

    color: #FFFFFF;
}

.portPNeocities{
    position: absolute;
    width: 389px;
    height: 320.18px;
    left: 1021px;
    top: 1429px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;

    color: #000000;
}

.portBoxPresentacion{
    position: absolute;
    width: 582.71px;
    height: 76.64px;
    left: 107px;
    top: 394px;
    
    background: #F09D51;
}

.portH2Presentacion{
    position: absolute;
    width: 437.57px;
    height: 55.69px;
    left: 179.93px;
    top: 404.12px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    
    color: #000000;
}

.portPPresentacion{
    position: absolute;
    width: 835px;
    height: 197px;
    left: 121px;
    top: 522px;
    
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    
    color: #000000;
    
}



